################################################################################
# Exclude build folders in the root directory.
################################################################################
/[Bb][Uu][Ii][Ll][Dd]*

################################################################################
# Exclude gradle files.
################################################################################
!/build.gradle
/.gradle
/.idea
/.cxx
/local.properties
/gradlew.bat
/gradlew
/gradle/
