################################################################################
# Exclude build folders in the root directory.
################################################################################
/[Bb][Uu][Ii][Ll][Dd]*
